<launch>
    <arg name="project" default="carto_test"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find tf_sample)/description/robot.urdf.xacro --inorder" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true">
        <!-- <param name="tf_prefix" value="$(env ROS_HOSTNAME)"/> -->
    </node>
  
</launch>
